#cols {
	background: #f8f8f8;
	width: 983;
	border: 1px solid #f0f0f0;
}
#aside {
	float:left;
	width:191px;
}
#aside dl dt {
	color: #666666;
	font-size: 18px;
	font-weight:bold;
	padding-left:20px;
}
#aside dl dd a:hover{color:red;}
#aside dl dd a:visited{color:red;}

#content {
	margin:10px 10px 10px 200px;
	padding:10px;
	border:1px solid #f1f1f1;
	min-height: 400px;
	background: #ffffff;
}
#content h2 {color:#0085cc;}
#content table {border:2px solid #cfcfcf;}
#content table th {border-right:1px solid #0074B3; background-color:#0085cc; color:#fff;}
#content table td {border:1px solid #cfcfcf;}
#content table tr.bg td {background-color:#e8f6ff;}